In [89]:
# Importar librería pandas
import pandas as pd

### Creación dataframe con los códigos de accidente y la causa, cuando el accidente lo ha causado un conductor

In [90]:
# Leer los archivos .csv que tengo guardados en el subdirectorio 'accidentes_causa_cond'

causa_cond_2016 = pd.read_csv('accidentes_causa_cond/2016_accidents_causa_conductor_gu_bcn_.csv', usecols=[0, 14])
causa_cond_2017 = pd.read_csv('accidentes_causa_cond/2017_accidents_causa_conductor_gu_bcn_.csv', usecols=[0, 14])
causa_cond_2018 = pd.read_csv('accidentes_causa_cond/2018_accidents_causa_conductor_gu_bcn_.csv', usecols=[0, 14])
causa_cond_2019 = pd.read_csv('accidentes_causa_cond/2019_accidents_causa_conductor_gu_bcn_.csv', usecols=[0, 14])
causa_cond_2020 = pd.read_csv('accidentes_causa_cond/2020_accidents_causa_conductor_gu_bcn_.csv', usecols=[0, 14])
causa_cond_2021 = pd.read_csv('accidentes_causa_cond/2021_accidents_causa_conductor_gu_bcn_.csv', usecols=[0, 14])
causa_cond_2022 = pd.read_csv('accidentes_causa_cond/2022_accidents_causa_conductor_gu_bcn_.csv', usecols=[0, 14])

In [91]:
# Para concatenar los dataframes, antes doy el mismo nombre de columna a todos los dataframes mediante un bucle

new_column_names_1 = ['Codi_expedient', 'Descripcio_causa_cond']
dataframes_1 = [causa_cond_2016, causa_cond_2017, causa_cond_2018, causa_cond_2019, causa_cond_2020, causa_cond_2021, causa_cond_2022]

for df in dataframes_1:
    df.columns = new_column_names_1

In [92]:
# Concatenación de los dataframes

causa_cond = pd.concat([causa_cond_2016, causa_cond_2017, causa_cond_2018, causa_cond_2019, causa_cond_2020, causa_cond_2021, causa_cond_2022])

In [93]:
# El dataframe resultante tiene 69.355 filas y dos columnas

causa_cond

       Codi_expedient                    Descripcio_causa_cond
0     2016S008785                      Desobeir altres senyals
1     2016S006269                 No respectat pas de vianants
2     2016S005498                                       Altres
3     2016S001172                      No respectar distàncies
4     2016S002566                               No determinada
...               ...                                      ...
9315  2022S007322      Manca precaució incorporació circulació
9316  2022S004058                                   Desconegut
9317  2022S008007               Manca d'atenció a la conducció
9318  2022S007475                             Desobeir semàfor
9319  2022S002249               Manca d'atenció a la conducció

[69355 rows x 2 columns]

In [94]:
causa_cond['Descripcio_causa_cond'].value_counts()

Manca d'atenció a la conducció             13085
Altres                                      9698
No respectar distàncies                     7842
Gir indegut o sense precaució               6997
Desobeir semàfor                            5731
Canvi de carril sense precaució             5206
No determinada                              5049
Desobeir altres senyals                     4064
Desconegut                                  2835
No respectat pas de vianants                2110
Avançament defectuós/improcedent            2081
Manca precaució incorporació circulació     1990
Manca precaució efectuar marxa enrera       1606
No cedir la dreta                            691
Envair calçada contrària                     277
Fallada mecànica o avaria                     93
Name: Descripcio_causa_cond, dtype: int64

### Creación dataframe con los códigos de accidente y los vehículos implicados en cada accidente

In [95]:
# Leer los archivos .csv que tengo guardados en el subdirectorio 'accidents_tipus_vehicle'

veh_impl_2015 = pd.read_csv('accidents_tipus_vehicle/2015_accidents_vehicles_gu_bcn.csv', usecols=[0, 17], encoding='latin-1')
veh_impl_2016 = pd.read_csv('accidents_tipus_vehicle/2016_accidents_vehicles_gu_bcn.csv', usecols=[0, 17], encoding='latin-1')
veh_impl_2017 = pd.read_csv('accidents_tipus_vehicle/2017_accidents_vehicles_gu_bcn.csv', usecols=[0, 17], encoding='latin-1')
veh_impl_2018 = pd.read_csv('accidents_tipus_vehicle/2018_accidents_vehicles_gu_bcn.csv', usecols=[0, 18], encoding='latin-1')
veh_impl_2019 = pd.read_csv('accidents_tipus_vehicle/2019_accidents_vehicles_gu_bcn.csv', usecols=[0, 18], encoding='latin-1')
veh_impl_2020 = pd.read_csv('accidents_tipus_vehicle/2020_accidents_vehicles_gu_bcn.csv', usecols=[0, 18], encoding='latin-1')
veh_impl_2021 = pd.read_csv('accidents_tipus_vehicle/2021_accidents_vehicles_gu_bcn.csv', usecols=[0, 16], encoding='latin-1')
veh_impl_2022 = pd.read_csv('accidents_tipus_vehicle/2022_accidents_vehicles_gu_bcn.csv', usecols=[0, 16], encoding='latin-1')

In [96]:
# Para concatenar los dataframes, antes doy el mismo nombre de columna a todos los dataframes mediante un bucle

new_column_names_2 = ['Codi_expedient', 'Descripcio_tipus_vehicle']
dataframes_2 = [veh_impl_2015, veh_impl_2016, veh_impl_2017, veh_impl_2018, veh_impl_2019, veh_impl_2020, veh_impl_2021, veh_impl_2022]

for df in dataframes_2:
    df.columns = new_column_names_2

In [97]:
# Concatenación de los dataframes

veh_impl = pd.concat([veh_impl_2015, veh_impl_2016, veh_impl_2017, veh_impl_2018, veh_impl_2019, veh_impl_2020, veh_impl_2021, veh_impl_2022])

In [98]:
# El dataframe resultante tiene 137.511 filas y dos columnas

veh_impl

        Codi_expedient Descripcio_tipus_vehicle
0          2015S004912                  Turismo
1          2015S002169                  Turismo
2          2015S003045                  Turismo
3          2015S002476                  Turismo
4          2015S009751              Motocicleta
...                ...                      ...
14901  2022S002610                  Motocicleta
14902  2022S002610                      Turisme
14903  2022S005252                      Turisme
14904  2022S005252                      Turisme
14905  2022S005252                      Turisme

[137511 rows x 2 columns]

### Creación dataframe con los códigos de accidente y la causa mediata

*La causa mediata es aquella que no provoca directamente el accidente pero lo facilita. Por ejemplo, conducir con una tasa de alcoholemia por encima del máximo permitido o superar el límite de velocidad.

In [99]:
# Leer los archivos .csv que tengo guardados en el subdirectorio 'accidentes_causa_med'

causa_med_2015 = pd.read_csv('accidentes_causa_med/2015_ACCIDENTS_CAUSES_GU_BCN_2015.csv', usecols=[0, 17], encoding='latin-1')
causa_med_2016 = pd.read_csv('accidentes_causa_med/2016_accidents_causes_gu_bcn_.csv', usecols=[0, 17], encoding='latin-1')
causa_med_2017 = pd.read_csv('accidentes_causa_med/2017_accidents_causes_gu_bcn_.csv', usecols=[0, 17], encoding='latin-1')
causa_med_2018 = pd.read_csv('accidentes_causa_med/2018_accidents_causes_gu_bcn_.csv', usecols=[0, 17], encoding='latin-1')
causa_med_2019 = pd.read_csv('accidentes_causa_med/2019_accidents_causes_gu_bcn_.csv', usecols=[0, 17], encoding='latin-1')
causa_med_2020 = pd.read_csv('accidentes_causa_med/2020_accidents_causes_gu_bcn_.csv', usecols=[0, 17], encoding='latin-1')
causa_med_2021 = pd.read_csv('accidentes_causa_med/2021_accidents_causes_gu_bcn_.csv', usecols=[0, 15], encoding='latin-1')
causa_med_2022 = pd.read_csv('accidentes_causa_med/2022_accidents_causes_gu_bcn_.csv', usecols=[0, 15], encoding='latin-1')

In [100]:
# Para concatenar los dataframes, antes doy el mismo nombre de columna a todos los dataframes mediante un bucle

new_column_names_3 = ['expedient', 'Descripcio_causa_mediata']
dataframes_3 = [causa_med_2015, causa_med_2016, causa_med_2017, causa_med_2018, causa_med_2019, causa_med_2020, causa_med_2021, causa_med_2022]

for df in dataframes_3:
    df.columns = new_column_names_3

In [101]:
# Concatenación de los dataframes

causa_med = pd.concat([causa_med_2015, causa_med_2016, causa_med_2017, causa_med_2018, causa_med_2019, causa_med_2020, causa_med_2021, causa_med_2022])

In [102]:
# El dataframe resultante tiene 72.377 filas y dos columnas

causa_med

            expedient Descripcio_causa_mediata
0         2015S005022   No hi ha causa mediata
1         2015S000390   No hi ha causa mediata
2         2015S001866   No hi ha causa mediata
3         2015S004932   No hi ha causa mediata
4         2015S007776   No hi ha causa mediata
...               ...                      ...
7984  2022S004703       No hi ha causa mediata
7985  2022S002165                 AlcoholÃ¨mia
7986  2022S004308       No hi ha causa mediata
7987  2022S004988       No hi ha causa mediata
7988  2022S007042       No hi ha causa mediata

[72377 rows x 2 columns]

In [103]:
causa_med['Descripcio_causa_mediata'].unique()

array(['No hi ha causa mediata', 'Excés de velocitat o inadequada',
       'Alcoholèmia', 'Calçada en mal estat', 'Drogues o medicaments',
       'Estat de la senyalització', 'AlcoholÃ¨mia',
       'ExcÃ©s de velocitat o inadequada', 'CalÃ§ada en mal estat',
       'Estat de la senyalitzaciÃ³', 'Factors meteorolÃ²gics',
       'Objectes o animals a la calÃ§ada'], dtype=object)

In [104]:
causa_med.loc[causa_med['Descripcio_causa_mediata'] == 'AlcoholÃ¨mia', 'Descripcio_causa_mediata'] = 'Alcoholèmia'

In [105]:
causa_med.loc[causa_med['Descripcio_causa_mediata'] == 'ExcÃ©s de velocitat o inadequada', 'Descripcio_causa_mediata'] = 'Excés de velocitat o inadequada'

In [106]:
causa_med.loc[causa_med['Descripcio_causa_mediata'] == 'CalÃ§ada en mal estat', 'Descripcio_causa_mediata'] = 'Calçada en mal estat'

In [107]:
causa_med.loc[causa_med['Descripcio_causa_mediata'] == 'Estat de la senyalitzaciÃ³', 'Descripcio_causa_mediata'] = 'Estat de la senyalització'

In [108]:
causa_med.loc[causa_med['Descripcio_causa_mediata'] == 'Factors meteorolÃ²gics', 'Descripcio_causa_mediata'] = 'Factors meteorològics'

In [109]:
causa_med.loc[causa_med['Descripcio_causa_mediata'] == 'Objectes o animals a la calÃ§ada', 'Descripcio_causa_mediata'] = 'Objectes o animals a la calçada'

In [110]:
causa_med['Descripcio_causa_mediata'].value_counts()

No hi ha causa mediata             67883
Alcoholèmia                         3166
Calçada en mal estat                 554
Excés de velocitat o inadequada      455
Drogues o medicaments                157
Objectes o animals a la calçada       88
Factors meteorològics                 42
Estat de la senyalització             32
Name: Descripcio_causa_mediata, dtype: int64

In [128]:
causa_med['expedient'] = causa_med['expedient'].str.strip()

In [134]:
causa_med

        expedient Descripcio_causa_mediata
0     2015S005022   No hi ha causa mediata
1     2015S000390   No hi ha causa mediata
2     2015S001866   No hi ha causa mediata
3     2015S004932   No hi ha causa mediata
4     2015S007776   No hi ha causa mediata
...           ...                      ...
7984  2022S004703   No hi ha causa mediata
7985  2022S002165              Alcoholèmia
7986  2022S004308   No hi ha causa mediata
7987  2022S004988   No hi ha causa mediata
7988  2022S007042   No hi ha causa mediata

[72377 rows x 2 columns]

Para eliminar los duplicados y quedarme solo con las causas mediatas que me interesan para el análisis, crearé una tabla en la que me aparezca, para cada expediente, si cumplen con cada causa mediata o no (las columnas serán de tipo booleano).
1. En primer lugar, con la función 'get_dummies' convierto la columna 'Descripcio_causa_mediata' en diversas columnas de tipo booleano para cada posible causa.
2. Después, agrupo las filas por el valor de la columna 'expedient' y sumo los valores de cada columna.
3. Reseteo el índice del dataframe
4. Relleno con un 0 los espacios donde no hay ningún valor (casos en los que

In [153]:
causa_med_bool = pd.get_dummies(causa_med, columns=['Descripcio_causa_mediata'])
causa_med_bool = causa_med_bool.groupby('expedient').sum()
causa_med_bool.reset_index(inplace=True)
causa_med_bool.fillna(0, inplace=True)
print(causa_med_bool)

         expedient  Descripcio_causa_mediata_Alcoholèmia  \
0      2015S000001                                     0
1      2015S000002                                     0
2      2015S000003                                     0
3      2015S000004                                     0
4      2015S000005                                     0
...            ...                                   ...
72335  2022S008011                                     0
72336  2022S008012                                     0
72337  2022S008013                                     0
72338  2023S000004                                     0
72339  2023S000550                                     0

       Descripcio_causa_mediata_Calçada en mal estat  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0
...                                              ...
72335                                              0
72336                                              0
72337                                              0
72338                                              0
72339                                              0

       Descripcio_causa_mediata_Drogues o medicaments  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
...                                               ...
72335                                               0
72336                                               0
72337                                               0
72338                                               0
72339                                               0

       Descripcio_causa_mediata_Estat de la senyalització  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
72335                                                  0
72336                                                  0
72337                                                  0
72338                                                  0
72339                                                  0

       Descripcio_causa_mediata_Excés de velocitat o inadequada  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
72335                                                  0
72336                                                  0
72337                                                  0
72338                                                  0
72339                                                  0

       Descripcio_causa_mediata_Factors meteorològics  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
...                                               ...
72335                                               0
72336                                               0
72337                                               0
72338                                               0
72339                                               0

       Descripcio_causa_mediata_No hi ha causa mediata  \
0                                                    1
1                                                    1
2                                                    1
3                                                    1
4                                                    1
...                                                ...
72335                                                1
72336                                                1
72337                                                1
72338                                                1
72339                                                1

       Descripcio_causa_mediata_Objectes o animals a la calçada
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
72335                                                  0
72336                                                  0
72337                                                  0
72338                                                  0
72339                                                  0

[72340 rows x 9 columns]

In [154]:
causa_med_bool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72340 entries, 0 to 72339
Data columns (total 9 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   expedient                                                 72340 non-null  object
 1   Descripcio_causa_mediata_Alcoholèmia                      72340 non-null  uint8
 2   Descripcio_causa_mediata_Calçada en mal estat             72340 non-null  uint8
 3   Descripcio_causa_mediata_Drogues o medicaments            72340 non-null  uint8
 4   Descripcio_causa_mediata_Estat de la senyalització        72340 non-null  uint8
 5   Descripcio_causa_mediata_Excés de velocitat o inadequada  72340 non-null  uint8
 6   Descripcio_causa_mediata_Factors meteorològics            72340 non-null  uint8
 7   Descripcio_causa_mediata_No hi ha causa mediata           72340 non-null  uint8
 8   Descripcio_causa_mediata_Objectes o animals a la calçada  72340 non-null  uint8
dtypes: object(1), uint8(8)
memory usage: 1.1+ MB

In [155]:
causa_med_bool['Descripcio_causa_mediata_Calçada en mal estat'].value_counts()

0    71786
1      554
Name: Descripcio_causa_mediata_Calçada en mal estat, dtype: int64

In [156]:
causa_med_bool = causa_med_bool.rename(columns={'Descripcio_causa_mediata_Alcoholèmia': 'alcoholemia',
                                                'Descripcio_causa_mediata_Calçada en mal estat': 'mal_estat_calcada',
                                               'Descripcio_causa_mediata_Drogues o medicaments': 'drogues_medicaments',
                                               'Descripcio_causa_mediata_Estat de la senyalització': 'mal_estat_senyalitzacio',
                                               'Descripcio_causa_mediata_Excés de velocitat o inadequada': 'exces_velocitat',
                                               'Descripcio_causa_mediata_Factors meteorològics': 'factors_meteo',
                                               'Descripcio_causa_mediata_No hi ha causa mediata': 'sense_causa_mediata',
                                               'Descripcio_causa_mediata_Objectes o animals a la calçada': 'obj_a_calcada',})

In [163]:
causa_med_bool

,expedient,alcoholemia,mal_estat_calcada,drogues_medicaments,mal_estat_senyalitzacio,exces_velocitat,factors_meteo,sense_causa_mediata,obj_a_calcada
0,2015S000001,0,0,0,0,0,0,1,0
1,2015S000002,0,0,0,0,0,0,1,0
2,2015S000003,0,0,0,0,0,0,1,0
3,2015S000004,0,0,0,0,0,0,1,0
4,2015S000005,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
72335,2022S008011,0,0,0,0,0,0,1,0
72336,2022S008012,0,0,0,0,0,0,1,0
72337,2022S008013,0,0,0,0,0,0,1,0
72338,2023S000004,0,0,0,0,0,0,1,0
72339,2023S000550,0,0,0,0,0,0,1,0

In [166]:
accidentes = pd.read_csv('base_datos_accidentes.csv', index_col=0)

In [167]:
accidentes

,expedient,data,codi_districte,nom_districte,codi_barri,nom_barri,codi_carrer,nom_carrer,num_postal,any,...,torn,vehicles_implicats,victimes,morts,greus,lleus,UTM_X,UTM_Y,longitud,latitud
0,2015S005807,2015-07-28,-1,NaN,-1,Desconegut,-1,Desconegut,Desconegut,2015,...,Matí,2,2,0,0,2,-1.00,-1.00,NaN,NaN
1,2015S007685,2015-10-13,10,Sant Martí,64,el Camp de l'Arpa del Clot,134801,Freser,0208 0208,2015,...,Tarda,1,1,0,0,1,431779.16,4585420.58,NaN,NaN
2,2015S001364,2015-02-21,10,Sant Martí,64,el Camp de l'Arpa del Clot,161407,Indústria,0336 0336,2015,...,Tarda,1,1,0,0,1,431913.65,4585555.86,NaN,NaN
3,2015S004325,2015-06-05,10,Sant Martí,64,el Camp de l'Arpa del Clot,226400,Las Navas de Tolosa,0343 0343,2015,...,Matí,2,1,0,0,1,431946.45,4585565.44,NaN,NaN
4,2015S005540,2015-07-17,10,Sant Martí,64,el Camp de l'Arpa del Clot,95506,Conca,0032 0034,2015,...,Tarda,1,2,0,0,2,431530.84,4585260.16,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72371,2022S001034,2022-02-21,8,Nou Barris,45,Porta,282650,Rio de Janeiro ...,0055 0055,2022,...,Matí,2,1,0,0,1,431569.96,4587650.14,2.179801,41.435662
72372,2022S007475,2022-12-05,8,Nou Barris,44,Vilapicina i la Torre Llobeta,119003,Arnau d'Oms / Fabra i Puig ...,0181 0181,2022,...,Tarda,2,1,0,0,1,431360.13,4587054.30,2.177357,41.430277
72373,2022S005805,2022-09-27,8,Nou Barris,45,Porta,256401,Meridiana / Pintor Alsamora ...,0001 0001,2022,...,Nit,2,1,0,0,1,431890.58,4587477.65,2.183658,41.434136
72374,2022S007892,2022-12-24,8,Nou Barris,45,Porta,700021,Andreu Nin ...,0011 0011,2022,...,Tarda,2,1,0,0,1,431683.10,4587413.97,2.181182,41.433544
72375,2022S003239,2022-05-28,8,Nou Barris,45,Porta,700021,Andreu Nin ...,0010 0010,2022,...,Tarda,2,0,0,0,0,431658.90,4587321.70,2.180902,41.432711

Antes de hacer el merge entre las dos columnas 'expediente' para comprobar que son iguales.
1. Concateno las dos columnas 'expediente' en una sola columna
2. Calculo cuantas veces aparece cada valor de expediente
3. Busco os expedientes que no aparezcan dos veces. Los que aparezcan una vez signfica que solo están en un dataframe. Si apaecen más de dos veces, significa que el expediente está duplicado.

In [172]:
expedient_comb = pd.concat([causa_med_bool['expedient'], accidentes['expedient']])
cuenta_filas = expedient_comb.value_counts()
cuenta_filas[cuenta_filas != 2]

2019S009536    1
Name: expedient, dtype: int64

Vemos que solo hay un valor duplicado, que fue el que se eliminó de la base de datos general porque no contenía ninguna información. En este caso, tampoco contiene ninguna causa mediata, por lo que también la podemos eliminar.

In [173]:
causa_med_bool[causa_med_bool['expedient'] == '2019S009536']

,expedient,alcoholemia,mal_estat_calcada,drogues_medicaments,mal_estat_senyalitzacio,exces_velocitat,factors_meteo,sense_causa_mediata,obj_a_calcada
49922,2019S009536,0,0,0,0,0,0,1,0

In [175]:
causa_med_bool = causa_med_bool.drop(49922)

Una vez tenemos los dos dataframes con las mismas filas, ya podemos hacer el merge.

In [176]:
pd.merge(accidentes, causa_med_bool, how='left')

,expedient,data,codi_districte,nom_districte,codi_barri,nom_barri,codi_carrer,nom_carrer,num_postal,any,...,longitud,latitud,alcoholemia,mal_estat_calcada,drogues_medicaments,mal_estat_senyalitzacio,exces_velocitat,factors_meteo,sense_causa_mediata,obj_a_calcada
0,2015S005807,2015-07-28,-1,NaN,-1,Desconegut,-1,Desconegut,Desconegut,2015,...,NaN,NaN,0,0,0,0,0,0,1,0
1,2015S007685,2015-10-13,10,Sant Martí,64,el Camp de l'Arpa del Clot,134801,Freser,0208 0208,2015,...,NaN,NaN,0,0,0,0,0,0,1,0
2,2015S001364,2015-02-21,10,Sant Martí,64,el Camp de l'Arpa del Clot,161407,Indústria,0336 0336,2015,...,NaN,NaN,0,0,0,0,0,0,1,0
3,2015S004325,2015-06-05,10,Sant Martí,64,el Camp de l'Arpa del Clot,226400,Las Navas de Tolosa,0343 0343,2015,...,NaN,NaN,0,0,0,0,0,0,1,0
4,2015S005540,2015-07-17,10,Sant Martí,64,el Camp de l'Arpa del Clot,95506,Conca,0032 0034,2015,...,NaN,NaN,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72334,2022S001034,2022-02-21,8,Nou Barris,45,Porta,282650,Rio de Janeiro ...,0055 0055,2022,...,2.179801,41.435662,0,0,0,0,0,0,1,0
72335,2022S007475,2022-12-05,8,Nou Barris,44,Vilapicina i la Torre Llobeta,119003,Arnau d'Oms / Fabra i Puig ...,0181 0181,2022,...,2.177357,41.430277,0,0,0,0,0,0,1,0
72336,2022S005805,2022-09-27,8,Nou Barris,45,Porta,256401,Meridiana / Pintor Alsamora ...,0001 0001,2022,...,2.183658,41.434136,0,0,0,0,0,0,1,0
72337,2022S007892,2022-12-24,8,Nou Barris,45,Porta,700021,Andreu Nin ...,0011 0011,2022,...,2.181182,41.433544,0,0,0,0,0,0,1,0
72338,2022S003239,2022-05-28,8,Nou Barris,45,Porta,700021,Andreu Nin ...,0010 0010,2022,...,2.180902,41.432711,1,0,0,0,0,0,0,0